* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body #root {
  width: 100%;
  height: 90vh;
}

#top-all,
#vertical-tabpanel-0,
.MuiBox-root,
.MuiTypography-root,
#canvas-container,
#member-all,
.MuiTypography-root,
#vertical-tabpanel-2{
  height: 100%;
}

#top-all{
  background-image: url(./images/image7.jpg);
  background-size: cover;
  background-position: center center;
}

#card_image{
  height: 300px;
  object-fit: cover;
}

#cards{
  display: flex;
  flex-wrap: wrap;
}
